---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('24 June 2023')}
	updatedDate={new Date('24 June 2023')}
	heroImage="/placeholder-about.jpg"
>
	<p>
        So, this is me -- Amr *Zeft* Wahdan.
	</p>

</Layout>
